<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>About | pdfMerge</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">pdfMerge</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- About Card -->
    <div class="container my-5">
      <div class="card p-5 shadow-lg border-0 rounded-lg">
        <h1 class="text-center mb-4" style="color: #5f27cd"><b>About pdfMerge</b></h1>

        <p class="lead text-center">
          pdfMerge is a simple, fast, and secure web-based tool that allows
          users to merge PDF files effortlessly.
        </p>

        <hr />

        <h4>✨ Features</h4>
        <ul>
          <li><b>Eliminated server storage:</b> Files are processed in-memory and not stored on the server.</li>
          <li><b>Precision Merging:</b> Choose specific pages from each PDF to merge exactly what you need.</li>
          <li><b>User-Friendly Interface:</b> Intuitive design for easy navigation and use.</li>
          <li><b>No account required:</b> Merge PDFs without the hassle of creating an account.</li>
          <li><b>Free to Use:</b> Enjoy all features without any cost.</li>
        </ul>

        <!--<h4 class="mt-4">🔒 Privacy & Security</h4>
        <p>
          All uploaded files are processed temporarily and not saved in server. Your documents remain private and secure.
        </p>-->

        <div class="text-center mt-4">
          <a href="/" class="btn btn-primary btn-lg"> Back to Home </a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  <footer class="footer mt-auto py-3">
    <div class="container text-center">
      <span>
        © <span id="year"></span> <strong>pdfMerge</strong> | Developed by
        <strong>Saptarshi Dey</strong>
      </span>
    </div>
  </footer>
  <script src="/static/script.js"></script>
</html>
