<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />

    <title>pdfMerge</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">pdfMerge</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!--<li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
              Merge Mode
            </a>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                onclick="showSimple()"
                >Simple Merge</a
              >
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                onclick="showCustom()"
                >Custom Page Merge</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="alerts" class="container mt-3"></div>
    <div class="container my-3">
      <!-- Simple Merge Section -->
      <div id="simple-merge">
        <form id="merge-form" method="POST" action="/merge" enctype="multipart/form-data">
          <h1>Your PDF Merger Tool</h1>
          <div class="form-group">
            <label>
              Select the pdf files to be merged
            </label>
            <!--<input
              type="file"
              name="pdfs"
              class="form-control-file"
              id="exampleFormControlFile1"
              multiple
              accept=".pdf"
            />-->
            <input type="file" name="pdf1" class="form-control-file" accept="application/pdf" required />
            <input type="file" name="pdf2" class="form-control-file" accept="application/pdf" required />

            <button type="submit" class="btn btn-primary mt-3">
              Merge PDFs
            </button>
          </div>
        </form>
      </div>
      <!-- Custom Merge Section -->
      <div id="custom-merge" style="display: none">
        <form id="custom-merge-form"
          method="POST"
          action="/custom-merge"
          enctype="multipart/form-data"
        >
          <h1>Custom Page Merge</h1>

          <div class="form-group">
            <label>Upload PDF 1</label>
            <input
              type="file"
              name="pdf1"
              class="form-control-file"
              accept=".pdf"
              required
            />
          </div>

          <div class="form-group">
            <label>Pages from PDF 1 (e.g. 1,3,5-7)</label>
            <input type="text" name="pages1" class="form-control" required />
          </div>

          <div class="form-group">
            <label>Upload PDF 2</label>
            <input
              type="file"
              name="pdf2"
              class="form-control-file"
              accept=".pdf"
              required
            />
          </div>

          <div class="form-group">
            <label>Pages from PDF 2</label>
            <input type="text" name="pages2" class="form-control" required />
          </div>

          <button type="submit" class="btn btn-primary mt-3">
            Merge Selected Pages
          </button>
        </form>
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->


    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
  <footer class="footer mt-auto py-3">
    <div class="container text-center">
      <span>
        © <span id="year"></span> <strong>pdfMerge</strong> | Developed by
        <strong>Saptarshi Dey</strong>
      </span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/script.js"></script>
</html>
